#Ignored File Types
*.tmp
*.bak
*-DEV.pk3
*.backup*
*.qc

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
resources
/tobbszintesudmf3.wad
/Letalis_Multi Floor Door Test2.wad
/Sector_SetPortal_E1.wad
/Sector_SetPortal_E2.wad
*.dbs
